<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ne.jp.shumipro_api.mapper.DailyTaskHistoryMapper">

    <select id="getByDailyTaskIdAndDoneDate" resultType="com.ne.jp.shumipro_api.entity.DailyTaskHistory">
        SELECT
            *
        FROM
            daily_task_history
        WHERE
            daily_task_id = #{dailyTaskId}
            AND done_date = #{doneDate}
    </select>

    <insert id="insert" parameterType="com.ne.jp.shumipro_api.entity.DailyTaskHistory"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO daily_task_history (
            daily_task_id , done_date , done_time , quota)
        VALUES (
            #{daily_task_id} , #{done_date} , #{done_time} , #{quota})
    </insert>

    <update id="update" parameterType="com.ne.jp.shumipro_api.entity.DailyTaskHistory">
        UPDATE daily_task_history
        SET
            daily_task_id = #{daily_task_id}
            , done_date = #{done_date}
            , done_time = #{done_time}
            , quota = #{quota}
        WHERE
            id = #{id}
    </update>
</mapper>