<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ne.jp.shumipro_api.mapper.DailyTaskHistoryMapper">

    <select id="getByDailyTaskIdAndDoneDate" resultType="com.ne.jp.shumipro_api.entity.DailyTaskHistory">
        SELECT
            *
        FROM
            daily_task_history
        WHERE
            daily_task_id = #{dailyTaskId}
            AND done_date = #{doneDate}
    </select>

    <select id="getDailyTaskHistory" resultType="com.ne.jp.shumipro_api.dto.DailyTaskHistoryInfoDto"
            parameterType="map">
        SELECT
            dt.id as dailyTaskId,
            dt.title,
            dth.done_date as doneDate,
            dth.done_time as doneTime,
            COALESCE(dth.quota, dt.quota) as quota,
            CASE
                WHEN 0 >= dt.quota - dth.done_time THEN 1
                ELSE 0
            END doneFlg
        FROM
            daily_task dt
            LEFT JOIN
                (SELECT * FROM daily_task_history WHERE done_date = #{targetDate}) dth
                ON  dt.id = dth.daily_task_id
        where
            username = #{username}
            AND (
                delete_date >= #{targetDate}
                OR  delete_date is null
            )
            AND #{targetDate} >= create_date
        ORDER BY
            doneFlg ASC,
            dt.disp_order ASC,
            dt.priority ASC,
            dt.id DESC
    </select>

    <insert id="insert" parameterType="com.ne.jp.shumipro_api.entity.DailyTaskHistory"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO daily_task_history (
            daily_task_id , done_date , done_time , quota)
        VALUES (
            #{daily_task_id} , #{done_date} , #{done_time} , #{quota})
    </insert>

    <update id="update" parameterType="com.ne.jp.shumipro_api.entity.DailyTaskHistory">
        UPDATE daily_task_history
        SET
            daily_task_id = #{daily_task_id}
            , done_date = #{done_date}
            , done_time = #{done_time}
            , quota = #{quota}
        WHERE
            id = #{id}
    </update>
</mapper>