<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ne.jp.shumipro_api.mapper.DailyTaskMapper">

    <select id="getDailyTaskList" resultType="com.ne.jp.shumipro_api.dto.DailyTaskInfoDto"
            parameterType="map">
        SELECT
          dt.id
          , dt.username
          , dt.title
          , dt.description
          , dt.priority
          , dt.quota
          , dt.delete_flg
          , dt.create_date
          , dt.delete_date
          , dth.done_date
          , dth.done_time
          , dt.disp_order
          , CASE
              WHEN 0 >= dt.quota - dth.done_time THEN 1
              ELSE 0
            END doneFlg
        FROM
          daily_task dt
          LEFT JOIN (SELECT * FROM daily_task_history WHERE done_date = #{doneDate}) dth
            ON dt.id = dth.daily_task_id
        WHERE
          dt.username = #{username}
          <if test="!includeDeleteFlg">
            AND dt.delete_flg = '0'
          </if>
        ORDER BY
          delete_flg ASC
          , doneFlg ASC
          , disp_order ASC
          , dt.priority DESC
          , dt.id DESC
    </select>

    <select id="findById" resultType="com.ne.jp.shumipro_api.entity.DailyTask"
            parameterType="map">
        SELECT
            id
            , username
            , title
            , description
            , priority
            , quota
            , delete_flg
            , create_date
            , delete_date
            , disp_order
        FROM
            daily_task
        WHERE
            id = #{id}
    </select>

    <insert id="insert" parameterType="com.ne.jp.shumipro_api.entity.DailyTask"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO daily_task (
            username
            , title
            , description
            , priority
            , quota
            , delete_flg
            , create_date
            , delete_date
            , disp_order
        )
        VALUES (
            #{username}
            , #{title}
            , #{description}
            , #{priority}
            , #{quota}
            , #{deleteFlg}
            , #{createDate}
            , #{deleteDate}
            , #{dispOrder}
        )
    </insert>

    <update id="update" parameterType="com.ne.jp.shumipro_api.entity.DailyTask">
        UPDATE daily_task
        SET
            username = #{username}
            , title = #{title}
            , description = #{description}
            , priority = #{priority}
            , quota = #{quota}
            , delete_flg = #{deleteFlg}
            , create_date = #{createDate}
            , delete_date = #{deleteDate}
        WHERE
            id = #{id}
    </update>

    <delete id="delete" parameterType="integer">
        DELETE FROM daily_task WHERE id = #{id}
    </delete>

    <select id="getDailyTaskDispOrder" resultType="com.ne.jp.shumipro_api.entity.DailyTask">
        SELECT
            *
        FROM
            daily_task
        WHERE
            username = #{username}
            AND delete_flg = '0'
        ORDER BY
            disp_order
    </select>

    <update id="updateDailyTaskDispOrder">
        UPDATE
            daily_task
        SET
            disp_order = #{dispOrder}
        WHERE
            id = #{id}
    </update>

    <select id="countNotDelete" resultType="int">
        SELECT
            COUNT(*)
        FROM
            daily_task
        WHERE
            username = #{username}
            AND delete_flg = '0'
    </select>

    <select id="getDailyTaskPlainList" resultType="com.ne.jp.shumipro_api.dto.DailyTaskPlainInfoDto"
            parameterType="map">
        SELECT
            dt.id
            , dt.username
            , dt.title
            , dt.description
            , dt.priority
            , dt.quota
            , dt.delete_flg
            , dt.create_date
            , dt.delete_date
            , dt.disp_order
        FROM
            daily_task dt
        WHERE
            dt.username = #{username}
            AND dt.delete_flg = '0'
        ORDER BY
            disp_order ASC
            , dt.priority DESC
            , dt.id DESC
    </select>

</mapper>