<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ne.jp.shumipro_api.mapper.TaskMapper">

    <select id="getTaskByUsername" resultType="com.ne.jp.shumipro_api.entity.Task"
            parameterType="string">
        SELECT
            id
            , username
            , task
            , priority
            , status
        FROM
            task
        WHERE
            username = #{username}
        ORDER BY
            id
    </select>
    <select id="getTaskById" resultType="com.ne.jp.shumipro_api.entity.Task"
            parameterType="int">
        SELECT
            id
            , username
            , task
            , priority
            , status
        FROM
            task
        WHERE
            id = #{id}
    </select>
    <insert id="insertTask" parameterType="com.ne.jp.shumipro_api.entity.Task"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task (
            username
            , task
            , priority
            , status
        )
        VALUES (
            #{username}
            , #{task}
            , #{priority}
            , #{status}
        )
    </insert>
    <update id="updateTask" parameterType="com.ne.jp.shumipro_api.entity.Task">
        UPDATE task
        SET
        username = #{username}
        , task = #{task}
        , priority = #{priority}
        , status = #{status}
        WHERE
        id = #{id}
    </update>
    <delete id="deleteTask" parameterType="integer">
        DELETE FROM task WHERE id = #{id}
    </delete>
</mapper>