<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ne.jp.shumipro_api.mapper.TaskMapper">

    <select id="getTaskByUsername" resultType="com.ne.jp.shumipro_api.entity.Task"
            parameterType="string">
        SELECT
            id
            , username
            , task
            , priority
            , status
            , description
        FROM
            task
        WHERE
            username = #{username}
            <if test="status != null">
                AND status = #{status}
            </if>
        ORDER BY
            priority DESC
            , id DESC
    </select>
    <select id="getTaskById" resultType="com.ne.jp.shumipro_api.entity.Task"
            parameterType="int">
        SELECT
            id
            , username
            , task
            , priority
            , status
            , description
        FROM
            task
        WHERE
            id = #{id}
    </select>
    <insert id="insertTask" parameterType="com.ne.jp.shumipro_api.entity.Task"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task (
            username
            , task
            , priority
            , status
            , description
            , plan_date
            , done_date
        )
        VALUES (
            #{username}
            , #{task}
            , #{priority}
            , #{status}
            , #{description}
            , #{planDate}
            , #{doneDate}
        )
    </insert>
    <update id="updateTask" parameterType="com.ne.jp.shumipro_api.entity.Task">
        UPDATE task
        SET
            username = #{username}
            , task = #{task}
            , priority = #{priority}
            , status = #{status}
            , description = #{description}
            , plan_date = #{planDate}
            , done_date = #{doneDate}
        WHERE
            id = #{id}
    </update>
    <delete id="deleteTask" parameterType="integer">
        DELETE FROM task WHERE id = #{id}
    </delete>
</mapper>