<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ne.jp.shumipro_api.mapper.TaskMapper">

    <select id="getTaskByUsername" resultType="com.ne.jp.shumipro_api.entity.Task"
            parameterType="string">
        SELECT
            id
            , username
            , task
            , priority
            , status
            , description
            , plan_date
            , done_date
        FROM
            task
        WHERE
            username = #{username}
            <if test="status != null">
                AND status = #{status}
            </if>
        ORDER BY
            priority DESC
            , id DESC
    </select>
    <select id="getTaskById" resultType="com.ne.jp.shumipro_api.entity.Task"
            parameterType="int">
        SELECT
            id
            , username
            , task
            , priority
            , status
            , description
            , plan_date
            , done_date
        FROM
            task
        WHERE
            id = #{id}
    </select>
    <insert id="insertTask" parameterType="com.ne.jp.shumipro_api.entity.Task"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task (
            username
            , task
            , priority
            , status
            , description
            , plan_date
            , done_date
        )
        VALUES (
            #{username}
            , #{task}
            , #{priority}
            , #{status}
            , #{description}
            , #{plan_date}
            , #{done_date}
        )
    </insert>
    <update id="updateTask" parameterType="com.ne.jp.shumipro_api.entity.Task">
        UPDATE task
        SET
            username = #{username}
            , task = #{task}
            , priority = #{priority}
            , status = #{status}
            , description = #{description}
            , plan_date = #{plan_date}
            , done_date = #{done_date}
        WHERE
            id = #{id}
    </update>
    <delete id="deleteTask" parameterType="integer">
        DELETE FROM task WHERE id = #{id}
    </delete>

    <select id="getPlanTaskGraphInfo" resultType="hashmap"
            parameterType="hashmap">
        SELECT
            TO_CHAR(plan_date, 'YYYY/MM/DD') date
            , COUNT(*)
        FROM
            task
        WHERE
            username = #{username}
            AND plan_date BETWEEN #{fromDate} AND #{toDate}
            AND status IN ('1', '2')
        GROUP BY
            plan_date
        ORDER BY
            plan_date ASC
    </select>

    <select id="getDoneTaskGraphIndo" resultType="hashmap"
            parameterType="hashmap">
        SELECT
            TO_CHAR(done_date, 'YYYY/MM/DD') date
            , COUNT(*)
        FROM
            task
        WHERE
            username = #{username}
            AND done_date BETWEEN #{fromDate} AND #{toDate}
            AND status = '3'
        GROUP BY
            done_date
        ORDER BY
            done_date ASC
    </select>
</mapper>