<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ne.jp.shumipro_api.mapper.TaskCommentMapper">

    <select id="getTaskCommentByTaskId" resultType="com.ne.jp.shumipro_api.entity.TaskComment"
            parameterType="map">
        SELECT
            id
            , task_id
            , username
            , comment
            , create_date
        FROM
            task_comment
        WHERE
            task_id = #{taskId}
            <if test="nextKey != null">
                AND id <![CDATA[<]]> #{nextKey}
            </if>
        ORDER BY
            id DESC
    </select>

    <select id="getTaskCommentByIdAndTaskIdAndUsername" resultType="com.ne.jp.shumipro_api.entity.TaskComment"
            parameterType="map">
        SELECT
            id
            , task_id
            , username
            , comment
            , create_date
        FROM
            task_comment
        WHERE
            id = #{id}
            AND task_id = #{taskId}
            AND username = #{username}
    </select>

    <insert id="insertTaskComment" parameterType="com.ne.jp.shumipro_api.entity.TaskComment"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task_comment (
            task_id
            , username
            , comment
            , create_date
        )
        VALUES (
            #{taskId}
            , #{username}
            , #{comment}
            , #{createDate}
        )
    </insert>

    <update id="updateTaskComment" parameterType="com.ne.jp.shumipro_api.entity.TaskComment">
        UPDATE task_comment
        SET
            comment = #{comment}
        WHERE
            id = #{id}
    </update>

    <delete id="deleteTaskComment" parameterType="integer">
        DELETE FROM task_comment WHERE id = #{id}
    </delete>
</mapper>