<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ne.jp.shumipro_api.mapper.ZeroSecondThinkingThemeMapper">

    <select id="getByUsernameAndNextKey" resultType="com.ne.jp.shumipro_api.dto.ZeroSecondThinkingDto">
        SELECT
            id
            , theme
            , done_date
        FROM
            zero_second_thinking_theme
        WHERE
            username = #{username}
            <if test="search != null">
                AND (
                    theme LIKE CONCAT('%', #{search}, '%') OR
                    EXISTS (SELECT 1 FROM zero_second_thinking_content
                                WHERE zero_second_thinking_theme.id = zero_second_thinking_content.theme_id
                                AND content LIKE CONCAT('%', #{search}, '%'))
                )
            </if>
            <if test="nextKey != null">
                AND id <![CDATA[<]]> #{nextKey}
            </if>
        ORDER BY
            id DESC
        LIMIT #{limit}
    </select>

    <select id="getByIdListAndNextKey" resultType="com.ne.jp.shumipro_api.dto.ZeroSecondThinkingDto">
        SELECT
            id
            , theme
            , done_date
        FROM
            zero_second_thinking_theme
        WHERE
            id in
            <foreach item="id" collection="idList" open="(" separator="," close=")">
                #{id}
            </foreach>
            <if test="nextKey != null">
                AND id <![CDATA[<]]> #{nextKey}
            </if>
        ORDER BY
            id DESC
        LIMIT #{limit}
    </select>

    <insert id="insert" parameterType="com.ne.jp.shumipro_api.entity.ZeroSecondThinkingTheme"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO zero_second_thinking_theme (
            username
            , theme
            , done_date
        )
        VALUES (
            #{username}
            , #{theme}
            , #{doneDate}
        )
    </insert>
</mapper>