<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ne.jp.shumipro_api.mapper.ZeroSecondThinkingContentMapper">

    <select id="getByThemeId" resultType="com.ne.jp.shumipro_api.entity.ZeroSecondThinkingContent">
        SELECT
            id
            , theme_id
            , content
        FROM
            zero_second_thinking_content
        WHERE
            theme_id = #{themeId}
        ORDER BY
            id
    </select>
</mapper>